{% extends 'base_template.html' %} {% block title %} Администрирование {% endblock %} {% block head %}

<head>

    <script type="module" src="{{ url_for('static', filename='js/gates.js') }}"></script>
</head>

{% endblock %} {% block body %}

<div class="container-fluid" id="my_content">
    <div class="row row-offcanvas row-offcanvas-left vh-100 ">
        <!--/col-->
        <main class="col main h-100 overflow-auto border-left ">
            <table height="70">
            </table>
            <div id="messages">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col md-12">

                        <div class="jumbotron p-3 ">
                            <h2> Шлюзы
                            </h2>
                            <br>
                            <table class="table ">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th scope="col ">mac</th>
                                        <th scope="col ">дата создания</th>
                                        <th scope="col ">gain</th>
                                        <th scope="col "></th>
                                    </tr>
                                </thead>
                                <tbody id="tableBtns">
                                </tbody>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div> {% endblock %}