{% extends 'base_template.html' %} {% block title %} Анкеры и зоны {% endblock %} {% block head %}

<head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/marklog_dynamic_path.js') }}"></script>

<!-- 1. Подключить CSS-файл Bootstrap 3 -->  
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<!-- 2. Подключить CSS-файл библиотеки Bootstrap 3 DateTimePicker -->  
<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />

<script src="js/jquery.min.js"></script>
<script src="js/moment-with-locales.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>

<link  href="{{ url_for('static', filename='dist/picker.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='dist/picker.js') }}"></script>

    <style>
        #map {
            height: 60vh;
        }
        
        .top-offset {
            margin-top: 80px;
        }
        
        tr td {
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>


{% endblock %} {% block body %}
<div class="container-fluid" id="my_content">
    <div class="row vh-100 ">

        <div class="col main h-100 overflow-auto border-left ">
          
            <table height="70">
            </table>

            <div id="messages">
            </div>
            
            <div class="jumbotron p-3 ">
              <table class="table table-borderless">
                  <tr>

                    <td class="align-middle"> 
                       Локация
                    </td>
                    <td class="align-middle">
                      <div id="location_select_btn">
                      </div>
                    </td>

                    <td class="align-middle"> 
                      Группа
                   </td>
                   <td class="align-middle">
                     <div id="group_select_btn">
                     </div>
                   </td>

                   <td class="align-middle">
                   </td>
                   <td class="align-middle">
                  </td>
                  <td class="align-middle">
                    
                  </tr>   
              </table>
            
              
               
            <table class="table ">
            <thead class="thead-dark ">
              <tr>
                  
                  <th scope="col ">Наименование метки</th>
                  <th scope="col ">Отображать траекторию</th>
                  <th scope="col ">Цвет траектории</th>
                  <th scope="col "></th>
              </tr>
            </thead>
            <tbody id="tabel_mark_select">
            </tbody>
          </table>


            <p class="align-middle"> 
              Глубина траектории
            </p>

            <table class="table table-borderless">

              <tr>
                
                <td class="align-middle"> 
                  Д
                </td>

                <td class="align-middle"> 
                  Ч
                </td>

                <td class="align-middle"> 
                  М
                </td>

                <td class="align-middle"> 
                  C
                </td>
              </tr>  
              <tr>
               
                <td class="align-middle">
                    <input type="text" id="dd-picker" class="form-control sr-only js-mini-picker" value="0">
                      <div class="dd-picker"></div>
                  <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                </td>
                <td class="align-middle"> 
                    <input type="text" id="hh-picker" class="form-control sr-only js-mini-picker" value="1">
                      <div class="hh-picker"></div>
                  <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                </td>

                <td class="align-middle"> 
                    <input type="text" id="mm-picker" class="form-control sr-only js-mini-picker" value="0">
                      <div class="mm-picker"></div>
                  <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                </td>

                <td class="align-middle"> 
                    <input type="text" id="ss-picker" class="form-control sr-only js-mini-picker" value="0">
                      <div class="ss-picker"></div>
                  <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                </td>
              </tr>  
          </table>

          <a id="show_path_btn">
          </a>
          <a id="show_path_stop_btn">
          </a>
          <a id="test_btn">
          </a>

          <br>
          <br>
            <div class="jumbotron p-3 ">
                <div style="display: flex; justify-content: flex-end">
                    <div id="location_name"> 
                    </div>
                </div>                         
                <div id="map">                  
                </div>
            </div>            
    </div>
</div>
{% endblock %}