{% extends 'base_template.html' %} {% block title %} Структура предприятия {% endblock %} {% block head %}

<head>

    <script type="module" src="{{ url_for('static', filename='js/structure.js') }}"></script>
</head>
{% endblock %} {% block body %}

<div class="container-fluid" id="my_content">
    <div class="row row-offcanvas row-offcanvas-left vh-100 ">
        <!--/col-->
        <main class="col main h-100 overflow-auto border-left ">
            <table height="70">
            </table>
            <div id="messages">
            </div>
            <div class="jumbotron p-3 ">
                <h2> enterprise
                </h2>
                <br>
                <table class="table ">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Наименование</th>
                            <th scope="col "></th>
                            <th scope="col "></th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody id="enterprise_tableBtns">
                    </tbody>
                    <tbody id="enterprise_tableBody">
                    </tbody>
                    <tbody id="enterprise_tableAdd">
                    </tbody>
                </table>
            </div>
            <div class="jumbotron p-3 ">
                <h2 id="departments_name"> departments
                </h2>
                <br>
                <table class="table ">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Наименование</th>
                            <th scope="col "></th>
                            <th scope="col "></th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody id="departments_tableBtns">
                    </tbody>
                    <tbody id="departments_tableBody">
                    </tbody>
                    <tbody id="departments_tableAdd">
                    </tbody>
                </table>
            </div>
            <div class="jumbotron p-3 ">
                <h2 id="locations_name"> locations
                </h2>
                <br>
                <table class="table ">
                    <thead class="thead-dark ">
                        <tr>
                            <th>Name</th>
                            <th>latitude</th>
                            <th>longitude</th>
                            <th>zero_x</th>
                            <th>zero_y</th>
                            <th>width</th>
                            <th>length</th>
                            <th>map</th>
                            <th scope="col "></th>
                            <th scope="col "></th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody id="locations_tableBtns">
                    </tbody>
                    <tbody id="locations_tableBody">
                    </tbody>
                    <tbody id="locations_tableAdd">
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>
{% endblock %}