{% extends 'base_template.html' %} {% block title %} Спецификации {% endblock %} {% block head %}

<head>
    
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script> -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tests.js') }}"></script>
</head>
{% endblock %} {% block body %}

<div class="container-fluid" id="my_content">
    <div class="row row-offcanvas row-offcanvas-left vh-100 ">
        <!--/col-->
        <main class="col main h-100 overflow-auto border-left ">            
            <table height="70">
            </table>
            <div id="messages">
            </div>
            <div class="jumbothon p-3 ">
                <table id="tableID" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID партии</th>
                            <th>Код спецификации</th>
                            <th>Дата начала</th>
                            <th>Название метки</th>
                            <th>Количество деталей</th>
                            <th>Название детали</th>
                            <th>Дата окончания</th>
                            <th>Название маршрута</th>
                            <th>Метрика отставания</th>
                            <th>Критика отставания</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
    
                    </tbody>
                </table>
            </div>
            
        </main>
    </div>
</div>

{% endblock %}