{% extends 'base_template.html' %} {% block title %} Тэги {% endblock %} {% block head %}

<head>
    <script type="module" src="{{ url_for('static', filename='js/tags.js') }}"></script>
</head>
{% endblock %} {% block body %}

<div class="container-fluid" id="my_content">
    <div class="row row-offcanvas row-offcanvas-left vh-100 ">
        <!--/col-->
        <main class="col main h-100 overflow-auto border-left ">
            <table height="70">
            </table>
            <div id="messages">
            </div>
            <div class="jumbotron p-3 ">
                <h2> Тэги
                </h2>
                <br>
                <table class="table ">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">uuid</th>
                            <th scope="col ">mac</th>
                            <th scope="col ">Дата создания</th>
                            <th scope="col ">gain</th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody id="tableBtns">
                    </tbody>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>{% endblock %}